<ion-header>
  <ion-toolbar>
    <ion-title>
      Our Service
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/DSC09747.jpg"></ion-img>
      <ion-card-header>
        <ion-card-title>Wedding</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>
        </p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      </ion-list>
     
        <ion-card class="welcome-card">
          <ion-img src="/assets/HMM08558.jpg"></ion-img>
          <ion-card-header>
            <ion-card-title>Prewedding</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>
            </p>
          </ion-card-content>
        </ion-card>
        <ion-list lines="none">
         </ion-list>
         
            <ion-card class="welcome-card">
              <ion-img src="/assets/IMG_1355.jpg"></ion-img>
              <ion-card-header>
                <ion-card-title>Traditional Dance</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <p>
                </p>
              </ion-card-content>
            </ion-card>
            <ion-list lines="none">
             </ion-list>
             
                <ion-card class="welcome-card">
                  <ion-img src="/assets/IMG_0894.jpg"></ion-img>
                  <ion-card-header>
                    <ion-card-title>Event</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                    <p>
                    </p>
                  </ion-card-content>
                </ion-card>
                <ion-list lines="none">
                 </ion-list>
                 
                    <ion-card class="welcome-card">
                      <ion-img src="/assets/IMG_5319.jpg"></ion-img>
                      <ion-card-header>
                        <ion-card-title>Birthday Party</ion-card-title>
                      </ion-card-header>
                      <ion-card-content>
                        <p>
                        </p>
                      </ion-card-content>
                    </ion-card>
                    <ion-list lines="none">
                     </ion-list>
                     
                        <ion-card class="welcome-card">
                          <ion-img src="/assets/IMG_7890.jpg"></ion-img>
                          <ion-card-header>
                            <ion-card-title>Graduation</ion-card-title>
                          </ion-card-header>
                          <ion-card-content>
                            <p>
                            </p>
                          </ion-card-content>
                        </ion-card>
                        <ion-list lines="none">
                         </ion-list>
                         
                            <ion-card class="welcome-card">
                              <ion-img src="/assets/sudah (5).jpg"></ion-img>
                              <ion-card-header>
                                <ion-card-title>Etc.</ion-card-title>
                              </ion-card-header>
                              <ion-card-content>
                                <p></p>
                              </ion-card-content>
                            </ion-card>
                            <ion-list lines="none">
                             </ion-list>
                             </ion-content>