<ion-header>
  <ion-toolbar>
    <ion-title>
      ramashinta.project
    </ion-title>
  </ion-toolbar>
</ion-header> 

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/IMG_0440.jpg"></ion-img>
      <ion-card-header>
        <ion-card-title>Wedding, Pre Wedding, etc.</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>A moment of joyful must be celebrated well without worrying of missing every seconds of it in the form of eternal. We are here to let you living that moment and knowing that the moment will stay forever with you in a well documentaries, both still images and moving pictures. We capture not only the images, but also the feelings of joy so you can re-live the happiness whenever you take a look at the albums and videos that we specially make for you. Because what stays after a moment is a beautiful documented of the moment itself.
        </p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">